.container {
  #btn-gerenciar-mesas {
    margin-bottom: 20px;
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    background: var(--btn-cardapio);
    color: var(--white);
  }

  h1 {
    color: var(--brown-dark);
    padding-bottom: 8px;
  }

  p {
    color: var(--text-light);
    padding-bottom: 40px;
  }
}

#mesas-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  gap: 20px;
}

.mesa-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  border-radius: 20px;
  padding: 20px;
  height: 200px;
  
  
  background: var(--white);
  text-align: center;
  border: 1px solid var(--brown-dark);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  span {
    position: absolute;
    top: 26px;
    right: 24px;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
  }

  h2 {
    background: var(--beige);
    padding: 20px;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
    font-weight: bold;
    color: var(--brown-dark);
  }

  p {
    margin-top: 12px;
    font-size: 15px;
    color: var(--brown-dark);
    font-weight: bold;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
}

.mesa-acoes {
  position: absolute;
  bottom: 14px;
  right: 14px;
  display: none;
  gap: 8px;
}

.mesa-acoes button {
  border: none;
  background: var(--gray-light);
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
}

body.modo-gerenciamento .mesa-acoes {
  display: flex;
}

body.modo-gerenciamento .mesa-card {
  border: 2px dashed var(--caramel);
  background: var(--gray-light);
  cursor: default;
}

body.modo-gerenciamento .mesa-card:hover {
  transform: none;
  box-shadow: none;
}



/* Verde - Disponível */
.mesa-card.livre span {
  background-color: var(--livre-bg);
  color: var(--livre-text-color);
  border: 1px solid var(--livre-border-color);
}

/* Vermelho - Ocupada */
.mesa-card.ocupada span {
  background-color: var(--ocupada-bg);
  color: var(--ocupada-text-color);
  border: 1px solid var(--ocupada-border-color);
}

/* Card escuro quando ocupada */
.mesa-card.ocupada {
  background: var(--brown-dark);
  border: 3px solid var(--brown-dark);

  h2 {
     background: var(--caramel);
  }

  p {
    color: var(--beige);
  }
}