<aside class="sidebar">
  <ul>
    <li><a href="../pages/registrar-mesas.html">
      <i data-lucide="plus"></i>
      Registrar Mesa
    </a></li>

    <li><a href="../pages/registrarProduto.html">
      <i data-lucide="chef-hat"></i>
      Registrar Produto
    </a></li>

    <li><a href="../pages/lista-produtos.html">
       <i data-lucide="coffee"></i>
      Lista de Produtos
    </a></li>

    <li><a href="#">
       <i data-lucide="file-text"></i>
      Pedidos
    </a></li>
  </ul>
</aside>


